<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boxes</title>
</head>
<body>
    {% if error %}
        <span>{{error}}</span>
    {% endif %}
    {% if happy %}
        <span>{{happy}}</span>
    {% endif %}
    {% if boxes|length > 0 %}
        {% for key, value in boxes.items() %}
        {% set my_color = value %}
        <p><b style="background: {{value}}">{{key}}</b> - {{value}}</p>
        {% endfor %}
    {% else %}
    <span>No available boxes :c</span>
    {% endif %}
</body>
</html>